services:
  server:
    build:
      context: .
      dockerfile: server/Dockerfile
    environment:
      LNS_PORT: "3000"
      LNS_CL_RPC_PATH: /cln/lightning-rpc
      LNS_MIN_WITHDRAWABLE_MSAT: ${LNS_MIN_WITHDRAWABLE_MSAT:-1000}
      LNS_MAX_WITHDRAWABLE_MSAT: ${LNS_MAX_WITHDRAWABLE_MSAT:-100000}
      LNS_BTC_RPC_URL: ${LNS_BTC_RPC_URL:-http://127.0.0.1:48332}
      LNS_BTC_RPC_USER: ${LNS_BTC_RPC_USER:-}
      LNS_BTC_RPC_PASSWORD: ${LNS_BTC_RPC_PASSWORD:-}
    volumes:
      - ${LNS_CL_RPC_HOST_PATH}:/cln/lightning-rpc
    ports:
      - ${SERVER_PORT:-3000}:3000

  web:
    build:
      context: .
      dockerfile: client/Dockerfile
      args:
        VITE_API_BASE_URL: ${VITE_API_BASE_URL:-http://localhost:8080}
    depends_on:
      - server
    ports:
      - ${WEB_PORT:-8080}:8080
